* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("/mountain.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
}

.text {
  color: white;
  font-family: Helvetica;
}

.header {
  position: absolute;
  top:2%;
  left:25%;
}

.poem {
  background-color: rgba(0,0,0,.2);
  padding: 2%;
  position: absolute;
  top:10%;
  left:25%;
  min-width: 600px;
  max-width: 600px;
  min-height: auto;
  max-height: 60%;
  overflow: auto;
  overflow-x: auto;
}